<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
    <i class="glyphicon glyphicon-shopping-cart"></i> <span class="lbl color-info"> {{currency}} {{value}} ({{amount}})</span> <span class="caret"></span>
</a>
<div class="dropdown-menu cart-top" role="menu">
    <ul class="cart-content">
        {{#collection products}}
        <li>
            <article class="offer-item last-minute">
                <div class="row">
                    <aside class="offer-image col-xs-3">
                        {{#image}}<img src="{{.}}"/>{{/image}}
                    </aside>
                    <div class="offer-content col-xs-9">
                        <header class="offer-title">
                            <a href="{{uri}}">{{{name}}}</a>
                        </header>
                        <div class="row offer-menu">
                            <div class="col-xs-6 align-left">
                                <a href="#" class="offer-action remove-product" data-pid="{{id}}"><i class="glyphicon glyphicon-trash"></i> remove</a>
                            </div>
                            <div class="offer-price-block col-xs-6">
                                <span class="align-right block">
                                    <span class="offer-price">{{../currency}}{{price}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </li>
        {{else}}
            <li>
                <div class="offer-item"><p>Your cart is empty!</p></div>
            </li>
        {{/collection}}
    </ul>
</div>
