{{! Offer tempalte  - for homepage and offers listing }}
<article class="offer-item {{#incart}}offer-in-cart{{/incart}} {{#hotel}}offer-hotel{{/hotel}} {{#lastMinute}}last-minute{{/lastMinute}}">
    <a class="offer-image offer-preview" href="{{url}}">
        {{#image}}<img src="{{.}}"/>{{/image}}
    </a>
    <div class="offer-content">
        {{#hotel}}
            <div class="shell-stars is-tooltip" data-amount="4" title="Four points in shell rating">
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star"></i>
            </div>
        {{/hotel}}
        <header class="offer-title">
            <h1>
                <i class="fa fa-university"></i> {{name}}
            </h1>
        </header>
        <p class="offer-description">
            {{description}}
        </p>
        <div class="clearfix offer-price-block">
            <div class="row">
                <div class="col-xs-6 align-left offer-action">
                    {{> cartButtons}}
                </div>
                <div class="col-xs-6">
                    <span class=" align-right block">
                        <span class="offer-modifier">from</span>
                        <span class="offer-price">
                            {{#oldprice}}
                                <span class="old-price is-format-price">{{.}}</span>
                            {{/oldprice}}
                            {{price}}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</article>